body {
  font-family: Arial, Helvetica, sans-serif; }

ul.tweets {
  padding: {
    left: 0;
  };
  list-style: none;
  text-indent: 0;

  li {
    float: left;
    width: 73px;
    height: 73px;
    padding: 10px;
    .tweet-text {
      display: none; 
    }
  }
}

// vim: set ts=2 sw=2 expandtab :
