!!! 5
%html
  %head
    %title Words of Wisdom from the Twitter-Verse
    %link{rel: 'stylesheet', href: '/stylesheets/screen.css', type: 'text/css'}
  %body
    %h1 ProTweets

    = yield

    %script{type: 'text/javascript', src: '/javascripts/jquery-1.7.1.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/jquery.hoverIntent.minified.js'}
    %script{type: 'text/javascript', src: '/coffeescripts/main.js'}
