# Configuration File for ProTweets app

twitter:
    consumer_key: ""
    consumer_secret: ""
    oauth_token: ""
    oauth_token_secret: ""
    search_query: "#protip -rt"

database: "./db/pro_tweets.db"
